$red: #f47c72
$dark-brown: #603f25
$brown: #966c43
$yellow: #f6e17e
$dark-yellow: #edce70
$dark-green: #333c1a
$green: #66883f
$light-green: #afca90

html
  height: 100%
body
  background-color: $yellow
  font-family: 'Arvo', serif
  height: 100%

#root
  height: 100%

.app
  height: 100%
  max-width: 800px
  margin: 0 auto
  padding: 20px 0
  position: relative

.container
  max-width: 800px

.game-logo
  &__svg
    display: block
    margin: 0 auto
    width: 70vw
    max-width: 600px


.startgame-form
  padding: 50px 0
  &__form
    display: flex
    flex-direction: column
    align-items: center

  &__input, &__checkbox
    width: 200px
    &:not(:first-child)
      margin-top: 10px
    &:not(:last-child)
      margin-bottom: 10px
    input, span
      display: inline-block
      vertical-align: middle

  &__submit
    margin-bottom: 30px
    button
      border-radius: 8px
      font-size: 20px
      padding: 10px 20px 10px 20px
  &__input
    input
      width: 35px
      border: none
      background-color: transparent
      border-bottom: 1px solid gray


.waiting
  padding: 30px 0
  &__wrapper
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    align-items: center
  &__link-wrapper
    width: 100%
    display: flex
    flex-wrap: nowrap
    align-items: center
    justify-content: center
    position: relative
  &__link
    border: 1px solid #6d6d6d
    border-radius: 3px
    display: inline-block
    padding: 5px 10px
    overflow: hidden
    white-space: nowrap
    margin-right: 10px
    max-width: 350px
    flex-basis: 90px
    flex-grow: 1
    flex-shrink: 1
  &__copy-btn
    border: 1px solid #6d6d6d
    border-radius: 3px
    display: inline-block
    padding: 5px 10px
    flex-basis: 10px
    &:hover
      cursor: pointer
      background-color: rgba(0,0,0,.1)
  &__copied
    position: absolute
    left: 50%
    bottom: 0
    transform: translateY(100%)
    p
      margin: 0


.active-game
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between

.gestures
  svg
    max-height: 40vh
    @media (max-width: 768px)
      max-height: 30vh

.game-board
  display: flex
  justify-content: space-between
  max-width: 500px
  &__separator
    border-left: 5px dashed #ffab72
  &__gesture
    flex-grow: 1
    flex-basis: 1px
    display: flex
    flex-direction: column
    align-items: center
    svg
      display: block
      width: 70px
      @media (max-width: 768px)
        width: 50px
  &__gesture-title
    margin-top: 0


.chat
  position: relative
  background-color: #f6e8cf
  &#{&}_toggled
    position: absolute
    left: 10px
    right: 10px
    bottom: 10px
    .chat__list
      height: 150px
  &__toggle
    display: inline-flex
    border: 1px solid #6d6d6d
    border-radius: 3px
    position: absolute
    left: 0
    top: 0
    transform: translateY(-100%)
    height: 20px
    width: 50px
    border-bottom: none
    &:hover
      cursor: pointer
  &__toggle-icon
    display: block
    margin: auto auto
    width: 0
    height: 0
    border-style: solid
    border-width: 0 5px 5px 5px
    border-color: transparent transparent #4a3125 transparent

  &__form
    display: flex
    align-items: center
  &__input, &__submit, &__list
    border: 1px solid #6d6d6d
    border-radius: 3px
    padding: 5px 10px
    background-color: transparent
  &__input
    flex-grow: 9
    flex-basis: 9px
    display: block
    border-right: none
  &__submit
    flex-grow: 1
    flex-basis: 1px
    display: block
  &__list
    height: 50px
    padding-top: 2px
    padding-bottom: 2px
    border-bottom: none
    overflow: auto
    overflow-x: hidden



.chat-message
  &__author
    font-weight: bold
    margin-right: 5px
    &:after
      content: ':'


.dashboard-table
  display: flex
  justify-content: center
  &__item
    margin-top: 0
    margin-bottom: 0
  &__item:not(:first-child)
    margin-left: 5px
  &__item:not(:last-child)
    margin-right: 5px
  &__item:not(&__title)
    font-weight: bold
  @media (max-width: 768px)
    flex-direction: column
    align-items: center
    &__separator
      display: none


.dashboard
  display: flex
  align-items: center
  justify-content: center
  &__table
    margin-right: 15px
  &__matches
    margin-left: 15px

.dashboard-matches
  display: flex
  justify-content: center
  overflow-x: auto
  &__match:not(:first-child)
    margin-left: 10px
  &__match:not(:last-child)
    margin-right: 10px


.dashboard-match
  display: inline-flex
  flex-direction: column
  align-items: center
  &__title
    margin: 0
    white-space: nowrap
  &__svg
    svg
      width: 35px
    &#{&}_win
      .itemBackground
        fill: #8eff8e !important
        stroke: #139c00 !important
    &#{&}_loose
      .itemBackground
        fill: #ff9ca0 !important
        stroke: #860006 !important


.endgame
  padding: 80px 0 40px
  &__svg
    display: block
    margin: 0 auto
    width: 70vw
    max-width: 600px
  &__actions
    display: flex
    justify-content: space-between
    align-items: center
    max-width: 500px
    margin: 0 auto
    margin-top: 50px


.button
  border: 1px solid transparent
  background-color: transparent
  border-radius: 5px
  padding: 5px 10px
  transition: transform .1s
  color: #eeeeee
  &:hover
    cursor: pointer
    transform: scale(1.1)
  &__text
    margin: 0
  &#{&}_main
    background-color: $brown
    border-color: $dark-brown
  &#{&}_smile
    display: flex
    align-items: center
    .button
      &__text
        margin-right: 5px
      &__smile
        margin-left: 5px
        svg
          display: block
          width: 30px
  &#{&}_green-smile
    .button
      &__smile svg
        path
          fill: $light-green
  &#{&}_red-smile
    .button
      &__smile svg
        path
          fill: $red